@import '@utils/vars.sass'

.projectItem
    display: block

    padding: $space-s $space-m

    border-left: $space-xs solid $color-main
    border-bottom: 0

    font-weight: normal
    color: $color-black

    &:hover
        border-color: $color-main-dark