@import '@thisPage/story/utils/vars.sass'
@import '@utils/vars.sass'

@value pixiCanvasSize #{$pixi-canvas-size}
@value pixiAntialias #{$pixi-antialias}
@value pixiPaddingInner #{$pixi-padding-inner}

@value pixiLineWidth #{$pixi-line-width}

@value pixiCircleR #{$pixi-circle-r}
@value pixiHeroOuterR #{$pixi-hero-outer-r}
@value pixiHeroInnerR #{$pixi-hero-inner-r}

@value pixiNeutralColor #{$color-black}
@value pixiHeroColor #{$color-accent}


.PixiContainer
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start

    height: $card-size
    width: $card-size
    padding-top: $pixi-padding-outer

    border-radius: 16px

.heroEndPos 
    position: absolute
    top: $pixi-padding-inner + $pixi-circle-r * 2 + $pixi-padding-outer
    left: 50%
    margin-left: -$pixi-circle-r - $space-m

.PixiHostWrapper
    width: $pixi-canvas-size
    height: $pixi-canvas-size
    position: relative
    overflow: visible

.PixiHost
    position: absolute
    
    top: -$pixi-canvas-size * ($pixi-antialias - 1)/2
    left: -$pixi-canvas-size * ($pixi-antialias - 1)/2
    
    width: $pixi-canvas-size * $pixi-antialias
    height: $pixi-canvas-size * $pixi-antialias
    transform: scale(1/$pixi-antialias)

    max-width: 100% * $pixi-antialias


.PixiContainerText
    font-family: "Open Sans"
    font-size: 29px
    text-align: center
    width: 100%
    transition: $transition-m
    @media (max-width: 400px)
        font-size: 22px

@media (max-width: $card-size + $space-l * 2)
    .PixiContainer
        width: 100%
        height: auto
        padding-bottom: $pixi-padding-outer