@import '@utils/vars.sass'

body, html
    margin: 0
    padding: 0

body
    background: $color-main
    font-family: $font-main
    font-size: $font-s
    color: $color-black
*
    box-sizing: border-box
    margin: 0

h2
    font-size: $font-l

a
    color: $color-main-dark
    font-weight: bold
    text-decoration: none
    border-bottom: 0.10em solid transparent
    transition: $transition-s
    &:hover
        border-bottom-color: lighten($color-main-dark, 7%)