@import '@utils/vars.sass'

@import '@thisPage/story/utils/vars.sass'

$hero-inner-shift: $pixi-hero-outer-r - $pixi-hero-inner-r 
$hero-size: $pixi-hero-outer-r * 2 + $pixi-line-width

$animation-duration-mobile: 1500ms
$animation-duration-default: 2000ms
$animation-duration-giant: 3000ms

$breakpoint-mobile: 650px
$breakpoint-giant: 2000px

$trail-broder-radius: $pixi-hero-inner-r

@value heroSize #{$hero-size}

@value animationDurationMobile #{$animation-duration-mobile}
@value animationDurationDefault #{$animation-duration-default}
@value animationDurationGiant #{$animation-duration-giant}

@value breakpointMobile #{$breakpoint-mobile}
@value breakpointGiant #{$breakpoint-giant}

.moveOffScreen
  animation-duration: $animation-duration-default
  animation-name: moveOffScreen
  animation-fill-mode: forwards
  animation-timing-function: ease-in
  @media (max-width: $breakpoint-mobile)
    animation-duration: $animation-duration-mobile
  @media (min-width: $breakpoint-giant)
    animation-duration: $animation-duration-giant


@keyframes moveOffScreen
    0%
        transform: translateX(0)
    100%
        //100 with tail + 100to hide it + 50 for failsafe
        transform: translateX(250vw)

.wrapper
    position: absolute
    top: 0
    left: 0
    height: 100vh
    width: 100%
    max-width: 100%
    overflow-x: hidden
    overflow-y: visible
    pointer-events: none
    z-index: 5
    // background: rgba(0,0,0,.1)

.hero
    position: absolute
    width: $hero-size
    height: $hero-size
    border: $pixi-line-width solid $color-accent
    border-radius: 50%
    z-index: 1
    &:after
        // inner circle
        content: ''
        display: block
        width: $pixi-hero-inner-r * 2
        height: $pixi-hero-inner-r * 2

        position: absolute
        left: 50%
        top: 50%
        margin: -$pixi-hero-inner-r 0 0 0-$pixi-hero-inner-r

        border-radius: 50%
        background: $color-accent

.trailMask
    position: absolute
    overflow: hidden
    height: $hero-size
    width: 200vw
    z-index: 0
    // background: rgba(0,0,0,.1)

.trail
    position: absolute
    top: 0
    &:before
        content: ''
        display: block
        position: absolute
        top: 0
        left: 0
        width: $hero-size
        height: $hero-size
        background: $color-main
        border-radius: 50%
        z-index: 2
    &:after
        // outer circle
        content: ''
        display: block
        position: absolute
        top: 0
        left: $hero-size/2
        height: $hero-size
        width: 100vw
        margin-left: -100vw
        background: $color-accent
        z-index: 1
        border-top-left-radius: $trail-broder-radius
        border-bottom-left-radius: $trail-broder-radius 


.trail, .hero
    composes: moveOffScreen